///*------------------------------------*\
//    #NAMESPACES
//\*------------------------------------*/

$objects-namespace: o-;
$components-namespace: c-;
$state-namespace: is-;
$situ-namespace: in-;
$utilities-namespace: u-;
$icon-namespace: i-;
$graphic-namespace: g-;
$scope-namespace: s-;